#!/usr/bin/make -f

export GOLANG=$(CURDIR)/obj-x86_64-linux-gnu

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	go get
	make kubectl-stable-version
	make build
	mkdir -p $(CURDIR)/execs/bash $(CURDIR)/execs/zsh
	$(CURDIR)/execs/k9s completion bash > $(CURDIR)/execs/bash/k9s
	$(CURDIR)/execs/k9s completion zsh > $(CURDIR)/execs/zsh/_k9s

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -- --no-source
	mkdir -p $(CURDIR)/debian/k9s/usr/share/bash-completion/completions/ $(CURDIR)/debian/k9s/usr/share/zsh/vendor-completions/
	cp $(CURDIR)/execs/bash/k9s $(CURDIR)/debian/k9s/usr/share/bash-completion/completions/
	cp $(CURDIR)/execs/zsh/_k9s $(CURDIR)/debian/k9s/usr/share/zsh/vendor-completions/
